@import "tailwindcss";

/* Remove default Mapbox styles that cause alignment/cutting issues */
.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 12px;
}

.mapboxgl-popup {
  z-index: 200 !important; /* Ensure popup is above header (z-[100]) */
}

.mapboxgl-popup-close-button {
  padding: 5px 10px;
  color: white; /* Makes 'X' visible against images */
  font-size: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom scrollbar for the info text */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}